Django==5.2.7
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-filter==25.2
PyJWT==2.10.1
psycopg2-binary==2.9.11
asgiref==3.10.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
git+https://github.com/alanjds/drf-nested-routers.git@master#egg=drf-nested-routers
python-dotenv
pytest
parameterized==0.9.0